<main class="contenedor">
    
    <form action="/preguntas/nueva" method="POST" class="default-form">
        <h3>Informacion Pregunta</h3>

        <div class="campo">
            <label>Pregunta</label>
            <input type="text" name="titulo" placeholder="Ej: Que es un Ataque DOS?">
        </div>

        <div class="campo">
            <label>Respuesta</label>
            <input type="text" name="respuesta" placeholder="Ej: Un ataque DOS ...">
        </div>


        <div class="campo">
            <label>Semestre</label>
            <select name="semestre">
                <option value="" disabled selected>-- Selecciona --</option>
                <option value="Primer Semestre">Primer Semestre</option>
                <option value="Segundo Semestre">Segundo Semestre</option>
                <option value="Tercer Semestre">Tercer Semestre</option>
                <option value="Cuarto Semestre">Cuarto Semestre</option>
                <option value="Quinto Semestre">Quinto Semestre</option>
                <option value="Sexto Semestre">Sexto Semestre</option>
            </select>
        </div>


        <div class="campo centrar-horizontal">
            <input type="submit" value="Publicar" class="btn btn-azul">
        </div>

    </form> 

</main>